<md-card>
  <md-card-title><h1> Existing Customers </h1></md-card-title>
<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <md-input-container floatPlaceholder="never">
      <input mdInput #filter placeholder="Filter users">
    </md-input-container>
  </div>

  <md-table #table [dataSource]="dataSource" [trackBy]="tableChanges">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container cdkColumnDef="firstName">
      <md-header-cell *cdkHeaderCellDef> First Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.firstName}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="lastName">
        <md-header-cell *cdkHeaderCellDef> Last Name</md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.lastName}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="key">
        <md-header-cell *cdkHeaderCellDef>Key</md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.key}} </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"
    [style.background-color]="row.selectedUser === false ? '#424242' : '#E1BEE7'"
    [style.color]="row.selectedUser === false? '#FFFFFF': '#000000'"
    (click)=selectedUser(row)
    #rowView></md-row>


  </md-table>
</div>
</md-card>
