/* CSS Document */
/*@import "https://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css";*/
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
@import "https://daneden.github.io/animate.css/animate.min.css";
/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/

body {
  position: relative;
  overflow-x: hidden;
}
body,
html {
  height: 100%;
  background-color: #583e7e;
}
nav {
	max-width: 150px;
	height: device-height;
}
.filler{
	flex: 1 1 auto;
}
#app-bar span{
  padding-left: 10px;
}
