<md-toolbar id="app-bar" color="primary">
	<i class="material-icons" routerLink="/">list</i>
	<span routerLink="/product-uploader">Products</span>
  <span routerLink="/customer-entry">Order Entry</span>
  <span routerLink="/customer-list">Customers</span>
  <span routerLink="/package-creator">Packages</span>
	<span routerLink="/merchants">Merchants</span>
	<span routerLink="/reports">Reports</span>
	<span class="filler"></span>
	<button *ngIf="home === false" md-raised-button>Logout</button>
	<span routerLink="/signin">Sign-in</span>
</md-toolbar>

<md-toolbar id="app-bar" color="primary" *ngIf="home === false">
	<span>Home</span>
	<span>Features</span>
	<span>About Us</span>
	<span class="filler"></span>
	<button md-button>Register</button>
	<button md-button>Login</button>
</md-toolbar>
