<md-card>
<md-card-title>
  <h2>Product Entry</h2>
</md-card-title>
<br>
<product-selector (selectedProduct)="selectedProduct($event)"></product-selector>
</md-card><br>
<product-type-child  [productType]="selectedProductType"></product-type-child>
<br>
<product-table></product-table>
<br>
<md-card>
<md-card-title>
	Product Uploader
</md-card-title>
<md-card-subtitle>
</md-card-subtitle>


<md-card-content>
  <form #products="ngForm">
    <label>Tables</label>
      <input type="file" id="table" (change)="save($event)" multiple>

    <label>Chairs</label>
      <input type="file" id="chair" (change)="save($event)" multiple>

    <label>Centerpiece</label>
      <input type="file" id="centerpiece" (change)="save($event)" multiple>

    <label>Flowers</label>
      <input type="file" id="flowers" (change)="save($event)" multiple>

    <button md-raised-button (click)="uploadSingle()">Upload One</button>
    <button md-raised-button (click)="uploadMultiple()">Upload Multiple</button>
  </form>
</md-card-content>
</md-card>
<div>

<md-card>
  Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}
</md-card>
