<md-card>

  <form>
    <md-select [(ngModel)]="biller" placeholder="Select Biller" floatPlaceholder="never" name="selectedBiller">
      <md-option>--</md-option>
      <md-option value="authorize">authorize.net</md-option>
    </md-select>
  </form>
  <br>
  <div *ngIf="biller === 'authorize'">
    <form>
      <md-form-field>
        <input mdInput [(ngModel)]="auth.name" type="text" name="loginId" placeholder="loginId" floatplaceholder="auto">
      </md-form-field>
      <md-form-field>
        <input mdInput [(ngModel)]="auth.transactionKey" type="password" name="transactionKey" placeholder="transactionKey" floatplaceholder="auto">
      </md-form-field>
      <br>

      <button md-button (click)="saveAuth(auth)">Save</button>
    </form>
  </div>
</md-card>
<br>
<md-card>
</md-card>
