<md-select floatPlaceholder="never" placeholder="Select Product Type">
  <md-option *ngFor="let product of productType" [value]="product.value" (click)="clickedProd(product.value)">{{product.name}}</md-option>
<md-select>


<!--<product-type-child [productType]="productTypeSelected"></product-type-child>-->

<!--<div *ngIf="productTypeSelected === 'venue'">
  <form #venueForm="ngForm">
    <md-input-field>
      <input [(ngModel)]="venue" name="venueName" mdInput placeholder="Venue Name">
    </md-input-field>
  </form>
</div>

<div *ngIf="productTypeSelected === 'catering'">
  <h1>WORKING</h1>
</div>-->
