<md-card>
<div *ngIf="productType === 'generic'">
<form #productsForm="ngForm" >
  <md-form-field>
    <input [(ngModel)]="product.name" name="prodName" mdInput placeholder="Product Name">
  </md-form-field>

  <md-form-field>
    <textarea [(ngModel)]="product.description" name="prodDescription" mdInput placeholder="Product description"></textarea>
  </md-form-field>

  <md-form-field>
    <input [(ngModel)]="product.price" name="prodPrice" mdInput placeholder="Product Price" >
  </md-form-field>

  <md-form-field>
    <input [(ngModel)]="product.qty" name="prodQty" mdInput placeholder="Product Quantity">
  </md-form-field>

  <button md-raised-button (click)="addProduct(product)">Add Product</button>
</form>
</div>
<div *ngIf="productType === 'venue'" >
  <form #productsForm="ngForm">
    <md-form-field>
      <input type="text" name="venueName" [(ngModel)]="venue.name" mdInput placeholder="Venue Name">
    </md-form-field>
    <md-form-field>
      <input type="text" name="venueDescription" [(ngModel)]="venue.description" mdInput placeholder="Venue Description">
    </md-form-field>
    <md-form-field>
      <input type="text" name="venuePrice" [(ngModel)]="venue.price" mdInput placeholder="Venue Price">
    </md-form-field>
    <br>
    <input type='file' name="venuePicture" [(ngModel)]="venue.picture" placeholder="Venue Picture">

    <button md-raised-button (click)="addProduct(venue)">Add Product</button>

  </form>
</div>

<div *ngIf="productType === 'catering'">
  <form #productsForm="ngForm">
    <md-form-field>
      <input type="text" name="catering" [(ngModel)]="catering.name" mdInput placeholder="catering name">
    </md-form-field>
  </form>
</div>
</md-card>
