<md-card *ngIf="registered === true">
<h3>{{ (user | async)?.email }}</h3>
<button md-raised-button (click)="login()">Login</button>
<button md-raised-button (click)="logout()">Logout</button>
</md-card>

<md-card color="primary" id="main-headline-container">
<div class="row">
  <div class="container-fluid" id="main-headline">
    <h1 class="display-1">Table Designed</h1>
    <small><h2>The one stop for event planners of all sizes</h2></small>
    <button md-raised-button routerLink="/register">Register Today</button>
  </div>
</div>
</md-card>

<md-card>
  <div class="media" id=feature-headline>
    <div class="media-left">
      <i class="fa fa-archive fa-5x"></i>
    </div>
    <div class="media-body">
      <h3 class="display-2">Inventory Management</h3>
      <p> Our platform makes it easy for event planners to input their inventory, and keep track of products, orders, and inventory. All within one spot</p>
    </div>
  </div>
</md-card>
<md-card>
  <div class="media" id="feature-headline">
    <div class="media-left">
      <i class="fa fa-user fa-5x"></i>
    </div>
    <div class="media-body">
      <h3 class="display-2">Customer Management</h3>
      <p>Our platform makes it simple and easy to manage all of your customers in one spot, customer service, customer tracking, and taking orders is all snappy and easy with our platform</p>
    </div>
  </div>
</md-card>
<md-card>
  <div class="media" id="feature-headline">
      <div class="media-left">
          <i class="fa fa-usd fa-5x"></i>
      </div>
      <div class="media-body">
        <h3 class="display-2">Payment Management</h3>
        <p>Our product is designed to collect payments, track payments, and split payments up so that any customer can reach their event goals with a budget in mind. Our system is PCI-E compliant so you may hold and process card data without worrying about data breaches.</p>
        <br>
      </div>
  </div>
</md-card>
<md-card>
  <div class="media" id="feature-headline">
    <div class="media-left">
      <i class="fa fa-rocket fa-5x"></i>
    </div>
    <div class="media-body">
      <h3 class="display-2">Fast Reporting</h3>
      <p>Backed by a blazing fast noSQL database, and global content delivery network, no more waiting for long report time loads. Everything is simple and fast and easy to understand, so that you can track your revenue, customers, and inventory all in one place.</p>
    </div>
  </div>
</md-card>
