@font-face {
  font-family: 'Champagne';
  src: url() format('truetype');
}
#main-headline-container{
  background: #7b1fa2;
}

#main-headline-container .row{
  text-align: center;
}

.fa{
  color: #7b1fa2;
}
