<form>
  <md-input-container>
    <input type="number" mdInput placeholder="Card Number">
  </md-input-container>
  <md-input-container>
    <input type="number" mdInput placeholder="Expiration Date">
  </md-input-container>
  <md-input-container>
    <input type="number" mdInput placeholder="Security Code">
  </md-input-container>
  <br>
</form>
    <md-select  [(ngModel)]='transactionType' name='transType'>
      <md-option value="capture">Capture</md-option>
      <md-option value="auth">Auth</md-option>
    </md-select>
  <br>
  <button md-raised-button (click)="submitOrder">Submit Order</button>
