<md-card>
  <md-table #productTable [dataSource]="dataSource">

    <ng-container cdkColumnDef="name">
      <md-header-cell *cdkHeaderCellDef>Name</md-header-cell>
      <md-cell *cdkCellDef="let product">{{product.name}}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="description">
      <md-header-cell *cdkHeaderCellDef>Description</md-header-cell>
      <md-cell *cdkCellDef="let product">{{product.description}}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="price">
      <md-header-cell *cdkHeaderCellDef>Price</md-header-cell>
      <md-cell *cdkCellDef="let product">{{product.price}}</md-cell>
    </ng-container>
    
    <ng-container cdkColumnDef="qty">
      <md-header-cell *cdkHeaderCellDef>Qty</md-header-cell>
      <md-cell *cdkCellDef="let product">{{product.qty}}</md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns"></md-row>


  </md-table>
</md-card>
