<md-card>
<md-card-title><h1>Register with us today!</h1></md-card-title>
<br>
<h3>Company Information</h3>
<br>
<form #registerForm='ngForm'>
  <div>
    <md-form-field>
      <input mdInput type="text" name="companyName" [(ngModel)]="signUpForm.companyName" floatPlaceholder="never" placeholder="Company Name">
    </md-form-field>
    <br>
    <md-form-field>
      <input mdInput type="email" name="companyEmail" [(ngModel)]="signUpForm.companyEmail" floatPlaceholder="never" placeholder="Company Email">
    </md-form-field>
    <br>
    <md-form-field>
      <input mdInput type="tel" name="companyPhone" [(ngModel)]="signUpForm.companyPhone" floatPlaceholder="never" placeholder="Company Phone">
    </md-form-field>
    <br>
    <md-form-field>
      <textarea mdInput name="companyAddress" [(ngModel)]="signUpForm.companyAddress" floatPlaceholder="never" placeholder="Address"></textarea>
    </md-form-field>
    <br>
    <md-form-field>
      <input mdInput type="text" name="city" [(ngModel)]="signUpForm.companyCity" floatPlaceholder="never" placeholder="City">
    </md-form-field>
    <br>
    <div>
    <md-form-field>
      <input mdInput type="number" name="companyZip" [(ngModel)]="signUpForm.companyNumber" floatPlaceholder="never" placeholder="zip">
    </md-form-field>
      <md-select name="State" [(ngModel)]="signUpForm.companyState">
        <md-option value="GA">GA</md-option>
      </md-select>
    </div>

    <br>
    <button md-raised-button (click)="signUp(signUpForm)">Sign Up</button>
  </div>
</form>
</md-card>
