<md-grid-list
[cols]="8">
  <md-grid-tile
  [colspan]="2">
    <md-card>
      <h1>TEST HEADER</h1>
      <!--<md-card-title>
        <h3>{{product.title}}</h3>
      <md-card-subtitle>
        <h3>{{product.category}}</h3>
      <img md-card-image [src]="product.image">
      <md-card-footer>{{product.price}}</md-card-footer>-->

    </md-card>
  </md-grid-tile>
  <md-grid-tile
  [colspan]="2">
  <md-card><h1>TEST HEADER</h1></md-card>
  </md-grid-tile>
  <md-grid-tile
  [colspan]="2">
  <md-card><h1>TEST HEADER</h1></md-card>
  </md-grid-tile>
  <md-grid-tile
  [colspan]="2">
  <md-card><h1>TEST HEADER</h1></md-card>
  </md-grid-tile>
</md-grid-list>
