<md-card>
	<form #customer="ngForm">
<md-input-container>
  <label md-placeholder>Company</label>
		<input type="text" [(ngModel)]="userCustomer.company" name="company" mdInput>
	</md-input-container>
	<br>
	<md-input-container>
			<label md-placeholder>First Name</label>
			<input type="text" [(ngModel)]="userCustomer.firstName" name="firstName" mdInput>
	</md-input-container>
	<md-input-container>
      <label md-placeholder>Last Name</label>
			<input type="text" [(ngModel)]="userCustomer.lastName" name="lastName" mdInput>
	</md-input-container>

  <br>
    <md-input-container>
      <label md-placeholder>Email</label>
      <input type="text" [(ngModel)]="userCustomer.email" name="email" mdInput>
    </md-input-container>

	<br>
	<md-input-container>
		<label md-placeholder>Address</label>
		<textarea [(ngModel)]="userCustomer.address" name="address" mdInput></textarea>
	</md-input-container>
	<br>

	<md-input-container>
		<label md-placeholder>Address 2</label>
		<textarea [(ngModel)]="userCustomer.address2" name="address2" mdInput></textarea>
	</md-input-container>
	<br>

	<md-input-container>
		<label md-placeholder>
		City
		</label>
		<input type="text" [(ngModel)]="userCustomer.city" name="city" mdInput>
	</md-input-container>
	<md-input-container>
		<label md-placeholder>
		State
		</label>
		<input type="text" [(ngModel)]="userCustomer.state" name="state" mdInput>
	</md-input-container>
	<br>
	<md-checkbox [checked]="billSameShip">Billing same as shipping</md-checkbox>
	<br>

	<button md-raised-button (click)="save(userCustomer)">Submit</button>
</form>
</md-card>
<br>
<product-table></product-table>
<br>
<md-card>
<customer-cards></customer-cards>
</md-card>
<br>
